@model List<string>
@{
}
<div>
@section h1 {
<h1 class="text-center">Contact Me</h1>
}
<table class="table">
    <tr>
        <td>Phone</td>
        <td>@Model.ElementAt(0)</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.ElementAt(1)</td>
    </tr>
    <tr>
        <td>Facebook</td>
        <td>@Model.ElementAt(2)</td>
    </tr>
</table>
</div>