@{
}
<table class="table">
    <tr>
        <td>Phone</td>
        <td>@ViewBag.Phone</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@ViewBag.Email</td>
    </tr>
    <tr>
        <td>Facebook</td>
        <td>@ViewBag.Facebook</td>
    </tr>
</table>