@{
    ViewBag.Title = "Tutorial Page 3";
}
@section h1 {
    <h1>Help Page</h1>
}
<div>
    <h2>Tutorial - Page 3</h2>
    <p>Here's the third thing you need to know about my website.</p>
    <a class="btn btn-dark" asp-controller="Tutorial" asp-action="Index" asp-route-id="2">Prev</a>
</div>