@{
    ViewBag.Title = "Tutorial Page 2";
}
@section h1 {
    <h1>Help Page</h1>
}
<div>
    <h2>Tutorial - Page 2</h2>
    <p>Here's the second thing you need to know about my website.</p>
    <a class="btn btn-dark" asp-controller="Tutorial" asp-action="Index" asp-route-id="3">Next</a>
    <a class="btn btn-dark" asp-controller="Tutorial" asp-action="Index" asp-route-id="1">Prev</a>
</div>